# Preserve pinned upstream bytes, including license line endings and trailing blank lines.
packages/evidence/assets/**/*.wasm binary
packages/evidence/assets/**/LICENSE* -text whitespace=-blank-at-eof
